#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

// 嵌入资源文件
mitt.umd.js RCDATA "Web/mitt.umd.js"
cpp.js RCDATA "Web/cpp.js"
reader.html RCDATA "Web/reader.html"
viewer.html RCDATA "Web/viewer.html"
reader.css RCDATA "Web/reader.css"
reader.js RCDATA "Web/reader.js"
viewer.css RCDATA "Web/viewer.css"
viewer.js RCDATA "Web/viewer.js"


// 配置可执行文件产品信息
VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,0,1,0
PRODUCTVERSION 0,0,1,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "GitHub xland"
            VALUE "FileDescription", "WebView2Demo"
            VALUE "FileVersion", "0.0.1.0"
            VALUE "InternalName", "WebView2Demo.exe"
            VALUE "LegalCopyright", "Copyright (C) LiuXiaolun 2023-2025"
            VALUE "OriginalFilename", "WebView2Demo.exe"
            VALUE "ProductName", "WebView2Demo"
            VALUE "ProductVersion", "0.0.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END