::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #f6f6f6;
}
::-webkit-scrollbar-thumb {
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    background: #fff;
    display: flex;
    font-size: 12px;
    box-sizing: border-box;
    flex-direction: column;
    color: #333;
    box-sizing: border-box;
}
.contentBox {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    flex: 1;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}
.imgBox {
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;    
    display: flex;
    align-items: center;
    justify-content: center;
}
#tarImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}
#overlay {
    position: absolute;
    display: block;
    box-sizing: border-box;
}
#textBox {
    width: 220px;
    height: 100%;
    display:none;
    overflow:auto;
    box-sizing:border-box;
    border-left:1px solid #aaa;
}
#statusBar {
    height: 28px;
    padding-left: 12px;
    line-height: 28px;
    background: #eee;
    color: #666;
}
#tip{
    font-size:20px;
    font-weight:bold;
    color:#aaa;
}
.line {
    height: 26px;
    line-height: 26px;
    white-space: nowrap;
    padding-left:6px;
    padding-right:6px;
    box-sizing:border-box;
}